trab_marcelo/Unsupervised/dados/
trab_marcelo/Unsupervised/*.pbix
trab_marcelo/NLP/versoes/
trab_marcelo/NLP/*.xlsx
trab_marcelo/NLP/*.h5
upperbag/csvs/
upperbag/form_resposta/
upperbag/*.pbix
upperbag/*.xlsx
trab_marcelo/input/brazilian-ecommerce/
big_data/*.ova
big_data/arquivos/
tiagao/aplicacao/
tiagao/docker-kong/
eng_dados/*.zip
eng_dados/Dicionário_de_dados/
eng_dados/fernanda/ana
eng_dados/galera/idd
eng_dados/igor/enade
eng_dados/ric/enem